

body {
  background: linear-gradient(135deg, #cbdfec, #d09de4);
  
}
.container{
align-items: center;
}

.topnav img {
  overflow: hidden;
  width: 15%;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.button{
  text-align: center;
  padding-top: 15px;
}

.btn {
  width: 30%;
  padding: 12px;
  border: none;
  border-radius: 50px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  text-decoration: none; /* remove underline from anchors */
}
.btn:hover {
  opacity: 1;
}
.fb {
  background-color: #0d4ed9;
  color: white;
}
.button1{
  text-align: center;
 
}
.btn1 {
  width: 30%;
  padding: 12px;
  border: none;
  border-radius: 50px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  text-decoration: none; /* remove underline from anchors */
}
.btn1:hover {
  opacity: 1;
}
.fb1 {
  background-color: #0a0b0b;
  color: white;
}
.button2{
  text-align: center;
 
}
.btn2 {
  width: 30%;
  padding: 12px;
  border: none;
  border-radius: 50px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  text-decoration: none; /* remove underline from anchors */
}
.btn2:hover {
  opacity: 1;
}
.fb2 {
  background-color:red;
  color: white;
}
.button3{
  text-align: center;
 
}
.btn3 {
  width: 30%;
  padding: 12px;
  border: none;
  border-radius: 50px;
  border-color: #0a0b0b;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  text-decoration: none; /* remove underline from anchors */
}
.btn3:hover {
  opacity: 1;
}
.fb3 {
  background-color: #e0e24c;
  color: white;
}



.class-name:after {
  content: " ";
  width: 31%;
  display: block;
  border-bottom: 3px solid #9E9E9E;
  margin-top: 20px;
  margin-left: 515px;
}
.p{
  margin-left: 690px;
}

.t1{
  margin-left: 520px;
}

.t{
 
 margin-top: 5px; margin-left: 520px;
  height: 45px;
  width: 460px;
  border: 1px double rgb(1, 1, 1);
  border-radius: 5px;
}
.password-area{
        float: none;
        margin-left: 520px;
        margin-bottom: 20px;
        text-decoration: none;
    }


.btn4 {
  width: 10%;
  padding: 12px;
  border: none;
  border-radius: 50px;
  border-color: #0a0b0b;
 box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2),
  0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  line-height: 20px;
  margin-left: 200px;
  text-decoration: none; /* remove underline from anchors */
}
.btn4:hover {
  opacity: 1;
}
.fb4 {
  background-color:green;
  color: white;

}

.c1{
  margin-left: 515px;
 
}



.button5{
  text-align: center;
  padding-top: 15px;
}

.btn5 {
  width: 30%;
  padding: 12px;
  border: none;
 
  border-radius: 50px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 15px;
  text-align: center;
  line-height: 30px;
  text-decoration: none; /* remove underline from anchors */
}
.btn5:hover {
  opacity: 1;
}
.fb5 {
  background-color: rgba(228, 155, 71, 0.823);
  color:#111;
  border-color: #0a0b0b;
}



